
@{
    ViewData["Title"] = "AccessDenied";
}

<h2>Acesso negado</h2>
<h6>Seu perfil de usuário não tem acesso a esta página. Caso entenda que isto é um erro, entre em contato com o administrador do sistema</h6>

